@model List<Akos.Models.Order>

@{
    ViewData["Title"] = "Order Details";
}

<h2>Order Details</h2>

<form asp-action="ProcessCart" method="post">
    <table class="table">
        @foreach (var order in Model)
        {
            @Html.HiddenFor(model => order.CustomerName)
            @Html.HiddenFor(model => order.OrderDate)
            @Html.HiddenFor(model => order.TotalAmount)
            @Html.HiddenFor(model => order.Products)
            @Html.HiddenFor(model => order.Product)
            @Html.HiddenFor(model => order.Status)
            @Html.HiddenFor(model => order.Category)
        }
        @foreach (var order in Model)
        {
            <tr>
                <th>Payment Method</th>
                <td>
                    <label asp-for="@order.PaymentMethod"></label>
                    <input asp-for="@order.PaymentMethod" />
                    <span asp-validation-for="@order.PaymentMethod"></span>
                </td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>
                    <label asp-for="@order.Notes"></label>
                    <input asp-for="@order.Notes" />
                    <span asp-validation-for="@order.Notes"></span>
                </td>
            </tr>
            <tr>
                <th>Shipping Address</th>
                <td>
                    <label asp-for="@order.ShippingAddress"></label>
                    <input asp-for="@order.ShippingAddress" />
                    <span asp-validation-for="@order.ShippingAddress"></span>
                </td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>
                    <label asp-for="@order.Phonenumber"></label>
                    <input asp-for="@order.Phonenumber" />
                    <span asp-validation-for="@order.Phonenumber"></span>
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Submit Order">
</form>

<a href="/">Back to Home</a>
