@model Akos.Models.Dish // Припустимо, що ваш модель називається Dish

<h2>@Model.Name</h2>
<img src="@Model.img" alt="невезіння" />
<p>@Model.Description</p>
<p>Ціна: @Model.Price</p>
<p>Улюблене: @Model.IsFavorite</p>
<p>Доступно: @Model.IsAvaileble</p>
