@model Courier

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        color: #495057;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    canvas {
        max-width: 400px;
        max-height: 200px;
        margin-top: 20px;
    }
</style>


<p>Ім'я @Model.Name</p>
<p>Прізвище @Model.LastName</p>
<p>Вид транспорту: @Model.VehicleType</p>
<p>Ваша зарплатня: @Model.Salary</p>
<p>Остання виплата: @Model.LastSalary</p>
<p>Всього виконано доставок: @Model.Delievered</p>

<canvas id="MyChart1" style="max-width: 400px; max-height: 200px;"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // Завантаження даних для першого графіка
        $.ajax({
            type: "POST",
            url: "/ChartData/CourierDeliveriesChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                if (_chartLabels.length === 0 || _chartData.length === 0) {
                    console.error("No data received for the chart.");
                    return;
                }

                var barColor = ["red", "green", "gold", "blue"];

                new Chart("MyChart1", {
                    type: "bar",
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            label: 'Кількість доставок',
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error("Error fetching chart data:", error);
            }
        });
    });
</script>
