@model List<Order>
@using BIT.Interfaces
@inject IAllDishData Data

<style>
    .hidden {
        display: none;
    }

    .details {
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #ddd;
    }

        .details p {
            margin: 5px 0;
            font-size: 16px;
            color: #333;
        }

    /* Додайте стиль рамки для таблички */
    table {
        border-collapse: collapse;
        width: 100%;
        border: 2px solid #ddd; /* Товщина та колір рамки */
    }

    th, td {
        border: 1px solid #ddd; /* Товщина та колір рамки для заголовків і комірок */
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2; /* Колір фону заголовків */
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Доступні замовлення</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Продукт</th>
                        <th scope="col">Сума</th>
                        <th scope="col">Адреса</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Дії</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>#@order.Id</td>
                            <td>
                                <img src="@Data.RetDishImageByName(order.ProductName)" style="max-height: 40px; max-width: 40px"> @order.ProductName
                            </td>
                            <td>@order.TotalAmount ₴</td>
                            <td>@order.ShippingAddress</td>
                            <td>@order.Phonenumber</td>
                            <td>@order.Status</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    @if (order.Status == OrderStatus.New || order.Status == OrderStatus.Processing)
                                    {
                                        <form asp-action="UpdateStatus" asp-controller="Courier" method="post">
                                            <input type="hidden" name="ordId" value="@order.Id" />
                                            <label for="newStatus">Новий статус:</label>
                                            <select name="newStatus" id="newStatus">
                                                <option value="Processing">В обробці</option>
                                                <option value="Delivered">Доставлено</option>
                                                <option value="Canceled">Скасувати</option>
                                            </select>
                                            <button type="submit">Оновити статус</button>
                                        </form>
                                    }
                                </div>
                            </td>
                        </tr>
                        
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
