@using BIT.Interfaces
@model List<Order>
@inject IAllDishData Data

<style>
    .hidden {
        display: none;
    }

    .details {
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #ddd;
    }

        .details p {
            margin: 5px 0;
            font-size: 16px;
            color: #333;
        }

    table {
        border-collapse: collapse;
        width: 100%;
        border: 2px solid #ddd; /* Товщина та колір рамки */
    }

    th, td {
        border: 1px solid #ddd; /* Товщина та колір рамки для заголовків і комірок */
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2; /* Колір фону заголовків */
    }

    .info-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #17a2b8;
        color: #fff;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        cursor: help; /* Змінений курсор на підказку */
    }

        .info-icon:hover::after {
            content: "Якщо статус замовлення не зміниться з 'New' протягом 30 хвилин, то воно скасується";
            position: absolute;
            top: 162px; /* Змінено top значення для позиціювання тексту відносно іконки */
            right: 0px; /* Змінено right значення для позиціювання тексту відносно іконки */
            width: 200px;
            background-color: #333;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            z-index: 1;
            display: block;
        }

</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col">         
            <h1>Мої замовлення</h1>
            <div class="info-icon float-end mt-2">!</div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Продукт</th>
                        <th scope="col">Сума</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Дії</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>#@order.Id</td>
                            <td>
                                <img src="@Data.RetDishImageByName(order.ProductName)" style="max-height: 40px; max-width: 40px"> @order.ProductName
                            </td>
                            <td>@order.TotalAmount ₴</td>
                            <td>@order.OrderDate</td>
                            <td>@order.Status</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    @if (order.Status == OrderStatus.New || order.Status == OrderStatus.Processing)
                                    {
                                        <form asp-action="CancelOrder" asp-controller="Account" method="post" class="mb-0">
                                            <input type="hidden" name="ordId" value="@order.Id" />
                                            <button type="submit" class="btn btn-success me-2">Скасувати</button>
                                        </form>
                                    }
                                    <button class="btn btn-info details-toggle" data-order-id="@order.Id">
                                        Розгорнути
                                    </button>
                                    
                                </div>
                            </td>
                        </tr>
                        <tr class="details collapse" id="details-@order.Id">
                            <td colspan="7">
                                <!-- Відомості про замовлення, які можна розгорнути -->
                                <div class="details">
                                    <h2>Додаткові відомості</h2>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><strong>Кількість:</strong> @order.Quanity</p>
                                            <p><strong>Адреса:</strong> @order.ShippingAddress</p>
                                            <p><strong>Кур'єр:</strong> @order.Courier</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><strong>Коментар:</strong> @order.Notes</p>
                                            <br>
                                            <p><strong>Спосіб оплати:</strong> @order.PaymentMethod</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.details-toggle').on('click', function () {
            var orderId = $(this).data('order-id');
            $('#details-' + orderId).toggleClass('collapse');
        });
    });
</script>
