@using BIT.DataStuff
@using BIT.Interfaces
@using Microsoft.AspNetCore.Identity
@using BIT.Areas.Identity.Data

@inject IAllOrders OrderBase
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    .table {
        border-collapse: collapse;
        width: 100%;
    }

        .table th, .table td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    .details {
        display: none;
    }

    .toggle-details {
        cursor: pointer;
        color: blue;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Останні замовлення</h1>
    <p>Дізнайтеся більше про <a href="https://docs.microsoft.com/aspnet/core">створення веб-додатків з ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Кількість</th>
                    <th scope="col">Адреса</th>
                    <th scope="col">Дата замовлення</th>
                    <th scope="col">Сума до сплати</th>
                    <th scope="col">Коментар</th>
                    <th scope="col">Метод оплати</th>
                    <th scope="col">Кур'єр</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Скасувати</th>
                    <!-- Додайте інші заголовки за необхідності -->
                </tr>
                <!-- Заголовки стовпчиків -->
            </thead>
            <tbody>
                @foreach (var order in OrderBase.Orders)
                {
                    if (order.UserId == UserManager.GetUserId(User))
                    {
                        <tr>
                            <td class="toggle-details" data-target="#details-@order.Id" data-toggle="collapse">&#x25BC;</td>
                            <td>@order.ProductName</td>
                            <td>@order.Quanity</td>
                            <td>@order.ShippingAddress</td>
                            <td>@order.OrderDate</td>
                            <td>@order.TotalAmount</td>
                            <td>@order.Notes</td>
                            <td>@order.PaymentMethod</td>
                            <td>@order.Courier</td>
                            <td>@order.Status</td>
                            @if (order.Status == "New" || order.Status == "InProcess")
                            {
                                <td>
                                    <form method="post" action="/Account/CancelOrder">
                                        <input type="hidden" name="ordId" value="@order.Id" />
                                        <button type="submit" class="btn btn-success">Скасувати</button>
                                    </form>
                                </td>
                            }
                        </tr>
                        <tr class="details collapse" id="details-@order.Id">
                            <td colspan="10">
                                <!-- Відомості про замовлення, які можна розгорнути -->
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.toggle-details').click(function () {
            var target = $($(this).data('target'));
            if (target.hasClass('show')) {
                $(this).html('&#x25BC;');
            } else {
                $(this).html('&#x25B2;');
            }
        });
    });
</script>
