@model BIT.Models.Order

@{
    ViewData["Title"] = "Order Details";
}

<h2>Order Details</h2>

<form asp-action="OrderDetails" method="post">
    <table class="table">
        @Html.HiddenFor(model => model.Quanity)
        @Html.HiddenFor(model => model.CustomerName)
        @Html.HiddenFor(model => model.OrderDate)
        @Html.HiddenFor(model => model.TotalAmount)
        @Html.HiddenFor(model => model.ProductName)
        @Html.HiddenFor(model => model.Product)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.Category)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Courier)
        @Html.HiddenFor(model => model.Phonenumber)
        @Html.HiddenFor(model => model.ShippingAddress)


        <tr>
            <th>Payment Method</th>
            <td>
                <label asp-for="PaymentMethod"></label>
                <input asp-for="PaymentMethod" />
                <span asp-validation-for="PaymentMethod"></span>
            </td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>
                <label asp-for="Notes"></label>
                <input asp-for="Notes" />
                <span asp-validation-for="Notes"></span>
            </td>
        </tr>
        <tr>
            <th>Shipping Address</th>
            <td>
                <label asp-for="ShippingAddress"></label>
                <input asp-for="ShippingAddress" />
                <span asp-validation-for="ShippingAddress"></span>
            </td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>
                <label asp-for="Phonenumber"></label>
                <input asp-for="Phonenumber" />
                <span asp-validation-for="Phonenumber"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit Order">
            </td>
        </tr>
        <table />
</form>

<a href="/">Back to Home</a>