@model BIT.Models.Dish


@if (Model != null)
{
    <div class="container mt-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="@Model.Img" class="card-img-top img-fluid" alt="unluck" style="max-width: 150px">

            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">Ціна: ₴@Model.Price</p>
                <p class="card-text">Калорійність: @Model.Calories</p>
                <p class="card-text">Доступно: @Model.IsAvaileble</p>
                <p class="card-text">На головній: @Model.IsFavorite</p>
                <p class="card-text">Категорія: @Model.Category</p>

                <form asp-action="SentToEdit" asp-controller="Admin" method="post">
                    <input type="hidden" name="dishId" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary">Редагувати</button>
                </form>

                <form asp-action="Delete" asp-controller="Admin" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger mt-2">Видалити</button>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="container mt-4">
        <h3>Страва не знайдена</h3>
    </div>
}
